* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container-general {
  width: 93%;
  margin: auto;
}

#faqs-section1 {
  height: 170px;
  background-image: url(/assets/images/FAQs-section1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#faqs-section1 .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.49);
  display: flex;
  align-items: center;
}
#faqs-section1 .overlay .faqs-container1-txt h1 {
  font-family: "Mulish";
  font-size: clamp(24px, 4vw, 48px);
  font-weight: 700;
  line-height: clamp(25px, 5vw, 50px);
  text-align: left;
  color: white;
}

#faqs-section2 {
  /** Remove Marker */
  /** Rotate Icon */
}
#faqs-section2 :root {
  --header-padding: 1rem 0;
  --border-color: #e4e4e7;
  --title: 1rem;
  --content: 0.95rem;
  --icon-size: 1.5rem;
  --primary-color: #c8dc71;
}
#faqs-section2 .accordion-container {
  width: 100%;
}
#faqs-section2 .accordion-container .accordion-header {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
}
#faqs-section2 .accordion-container .accordion-header h1 {
  font-family: "Mulish";
  font-size: clamp(20px, 4vw, 40px);
  font-weight: 700;
  line-height: clamp(20px, 3vw, 40px);
  text-align: left;
  color: #1A1A1A;
  margin-bottom: 10px;
}
#faqs-section2 .accordion-container .accordion-header p {
  font-family: "Mulish";
  font-size: clamp(8px, 4vw, 16px);
  font-weight: 400;
  line-height: clamp(12px, 3vw, 24px);
  text-align: left;
  color: #525558;
}
#faqs-section2 details {
  font-size: var(--title);
  margin: 0 auto;
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--border-color);
  transition: all 0.3s ease-in-out;
  /* Added padding for each FAQ item */
}
#faqs-section2 details[open] summary {
  background-color: #082E60;
  /* Change title box color when clicked */
  color: white;
}
#faqs-section2 summary {
  user-select: none;
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  padding: var(--header-padding);
  transition: background-color 0.3s ease-in-out;
  padding: clamp(15px, 4vw, 25px) clamp(5px, 2vw, 10px);
  color: black;
  border-radius: 10px;
}
#faqs-section2 .accordion-title {
  font-family: "Poppins";
  font-size: clamp(10px, 2vw, 16px);
  line-height: clamp(14px, 2vw, 24px);
  text-align: left;
  width: 90%;
  font-weight: 500;
  transition: all 250ms ease-in-out;
}
#faqs-section2 .accordion-icon {
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  right: 1rem;
  transition: all 150ms ease-out;
  width: clamp(16px, 4vw, 24px);
  height: clamp(18px, 5vh, 26.4px);
}
#faqs-section2 .accordion-icon svg {
  width: var(--icon-size);
  height: var(--icon-size);
  transition: transform 0.3s ease-in-out;
}
#faqs-section2 .accordion-content {
  color: #3c3e47;
  padding: var(--content-padding);
  font-size: var(--content);
  font-weight: 400;
  line-height: 1.65;
  font-family: "Mulish";
  font-size: clamp(10px, 2vw, 16px);
  line-height: clamp(14px, 2vw, 24px);
  text-align: left;
  margin: clamp(10px, 2vw, 15px) clamp(15px, 3vw, 20px);
}
#faqs-section2 summary::-webkit-details-marker {
  display: none;
}
#faqs-section2 details[open] .accordion-icon svg {
  transform: rotate(180deg);
}

#faq-section3 {
  margin-top: clamp(35px, 10vw, 70px);
  height: 360px;
  background-image: url(/assets/images/faq-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#faq-section3 .overlay3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(3, 23, 49, 0.5607843137);
  display: flex;
}
#faq-section3 .overlay3 .faq-container3 .faq-section3-title {
  padding-top: clamp(10px, 4vw, 30px);
}
#faq-section3 .overlay3 .faq-container3 .faq-section3-title h1 {
  font-family: "Mulish";
  font-size: clamp(20px, 2vw + 1rem, 40px);
  font-weight: 700;
  line-height: clamp(1.25, 2vw + 1rem, 2.5);
  text-align: left;
  color: white;
}
#faq-section3 .overlay3 .faq-container3 .faq-section3-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(25px, 5vw, 50px);
  border-radius: 10px;
}
#faq-section3 .overlay3 .faq-container3 .faq-section3-form form {
  display: flex;
  flex-direction: column;
  width: 575px;
}
#faq-section3 .overlay3 .faq-container3 .faq-section3-form form .form-control {
  outline: none;
  padding: clamp(5px, 2vw, 10px) clamp(15px, 4vw, 30px) clamp(5px, 2vw, 10px) clamp(15px, 4vw, 30px);
  margin-bottom: clamp(8px, 1vw, 15px);
  border: none;
  font-size: clamp(10px, 2vw, 14px);
  background-color: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 24px;
}
#faq-section3 .overlay3 .faq-container3 .faq-section3-form form .form-control:first-child {
  border-radius: 50px;
}
#faq-section3 .overlay3 .faq-container3 .faq-section3-form form .form-control:nth-child(2) {
  border-radius: 50px;
}
#faq-section3 .overlay3 .faq-container3 .faq-section3-form form .form-control:nth-child(3) {
  border-radius: 10px;
}
#faq-section3 .overlay3 .faq-container3 .faq-section3-form form .form-control::placeholder {
  color: #aaa;
}
#faq-section3 .overlay3 .faq-container3 .faq-section3-form form textarea.form-control {
  height: 90px;
  resize: none;
  overflow-y: hidden;
  overflow-x: hidden;
}
#faq-section3 .overlay3 .faq-container3 .faq-section3-form form .btn {
  align-self: flex-end;
  width: 80px;
  height: 28px;
  background: #073A7D;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: clamp(7px, 2vw + 1rem, 14px);
  cursor: pointer;
  transition: background 0.3s;
  margin-top: clamp(15px, 2vw, 30px);
  display: flex;
  align-items: center;
  justify-content: center;
}
#faq-section3 .overlay3 .faq-container3 .faq-section3-form form .btn:hover {
  background: #004494;
}

@media (min-width: 768px) {
  #faqs-section1 {
    height: 250px;
  }
  #faqs-section2 .accordion-container {
    width: 100%;
  }
  #faqs-section2 .accordion-container .accordion-header {
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: center;
  }
  #faqs-section2 .accordion-container .accordion-header h1 {
    font-family: "Mulish";
    font-size: clamp(20px, 4vw, 40px);
    font-weight: 700;
    line-height: clamp(20px, 3vw, 40px);
    text-align: left;
    color: #1A1A1A;
    margin-bottom: 20px;
  }
  #faqs-section2 .accordion-container .accordion-header p {
    font-family: "Mulish";
    font-size: clamp(8px, 4vw, 16px);
    font-weight: 400;
    line-height: clamp(12px, 3vw, 24px);
    text-align: left;
    color: #525558;
  }
  #faq-section3 {
    height: 450px;
  }
  #faq-section3 .overlay3 .faq-container3 .faq-section3-form form {
    width: 575px;
  }
  #faq-section3 .overlay3 .faq-container3 .faq-section3-form form .form-control {
    height: 28px;
  }
  #faq-section3 .overlay3 .faq-container3 .faq-section3-form form textarea.form-control {
    height: 120px;
  }
  #faq-section3 .overlay3 .faq-container3 .faq-section3-form form .btn {
    width: 100px;
    height: 32px;
  }
}
@media (min-width: 1024px) {
  #faqs-section1 {
    height: 370px;
  }
  #faqs-section2 .accordion-container {
    width: 100%;
  }
  #faqs-section2 .accordion-container .accordion-header {
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: center;
  }
  #faqs-section2 .accordion-container .accordion-header h1 {
    font-family: "Mulish";
    font-size: clamp(20px, 4vw, 40px);
    font-weight: 700;
    line-height: clamp(20px, 3vw, 40px);
    text-align: left;
    color: #1A1A1A;
    margin-bottom: 30px;
  }
  #faqs-section2 .accordion-container .accordion-header p {
    font-family: "Mulish";
    font-size: clamp(8px, 4vw, 16px);
    font-weight: 400;
    line-height: clamp(12px, 3vw, 24px);
    text-align: left;
    color: #525558;
  }
  #faq-section3 {
    height: 540px;
  }
  #faq-section3 .overlay3 .faq-container3 .faq-section3-form form {
    width: 575px;
  }
  #faq-section3 .overlay3 .faq-container3 .faq-section3-form form .form-control {
    height: 34px;
  }
  #faq-section3 .overlay3 .faq-container3 .faq-section3-form form textarea.form-control {
    height: 150px;
  }
  #faq-section3 .overlay3 .faq-container3 .faq-section3-form form .btn {
    width: 120px;
    height: 36px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container-general {
  width: 93%;
  margin: auto;
}

#home-section1 {
  --swiper-theme-color: #082E60;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-inactive-opacity: 1;
}
#home-section1 .mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#home-section1 .mySwiper .swiper-slide img {
  height: 274px;
  width: 100%;
  object-fit: cover;
}
#home-section1 .mySwiper .swiper-slide .swiper-text {
  position: absolute;
}
#home-section1 .mySwiper .swiper-slide .swiper-text .swiper-header h1 {
  font-family: "Mulish", sans-serif;
  font-size: clamp(30px, 4vw, 60px);
  font-weight: 800;
  line-height: clamp(36px, 5vw, 78px);
  text-align: left;
  color: white;
  width: clamp(350px, 70vw, 727px);
}
#home-section1 .mySwiper .swiper-slide .swiper-text .swiper-paragraph {
  margin-top: clamp(20px, 5vw, 30px);
}
#home-section1 .mySwiper .swiper-slide .swiper-text .swiper-paragraph p {
  display: none;
}
#home-section1 .mySwiper .swiper-slide .swiper-text .swiper-button {
  display: flex;
  margin-top: clamp(20px, 5vw, 40px);
}
#home-section1 .mySwiper .swiper-slide .swiper-text .swiper-button button {
  background-color: #082E60;
  border: none;
  padding: 12px, 10px, 12px, 10px;
  width: clamp(130px, 20vw, 160px);
  font-size: clamp(14px, 2vw, 18px);
  border-radius: 12px;
  outline: none;
}
#home-section1 .mySwiper .swiper-slide .swiper-text .swiper-button button:focus {
  outline: none;
  box-shadow: none;
}
#home-section1 .mySwiper .swiper-slide .swiper-text .swiper-pagination {
  background: var(--swiper-pagination-color);
  background: var(--swiper-pagination-bullet-inactive-color, #ffffff);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, );
}
#home-section1 .mySwiper .swiper-button-next,
#home-section1 .mySwiper .swiper-button-prev {
  display: none;
}

#home-section4 {
  height: 800px;
  margin-top: 70px;
}
#home-section4 .home-container4 {
  position: relative;
  justify-content: space-between;
}
#home-section4 .home-container4 .left-container4 {
  position: absolute;
  top: 30px;
}
#home-section4 .home-container4 .right-container4 {
  position: absolute;
}

#home-section6 {
  margin-top: 70px;
}
#home-section6 .home-container6 {
  overflow: hidden;
}
#home-section6 .home-container6 h4 {
  font-family: "Mulish";
  font-size: clamp(20px, 2vw + 1rem, 32px);
  font-weight: 500;
  line-height: clamp(20px, 2.5vw, 32px);
  text-align: center;
  color: #A3A3A3;
  margin-bottom: clamp(20px, 2vw, 40px);
}
#home-section6 .home-container6 .icon-box .icons {
  margin-right: 20px;
}
#home-section6 .home-container6 .icon-box .icons img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  width: clamp(103.5px, 10vw, 207px);
  height: clamp(63px, 4vw + 42px, 126px);
}
#home-section6 .home-container6 .icon-box .icons img:hover {
  filter: none;
}

@media (min-width: 768px) {
  #home-section1 .mySwiper .swiper-slide img {
    height: 500px;
  }
  #home-section1 .mySwiper .swiper-slide .swiper-text .swiper-paragraph p {
    display: block;
    font-family: "Mulish", sans-serif;
    font-size: clamp(8px, 4vw, 16px);
    font-weight: 400;
    line-height: clamp(12px, 5vw, 24px);
    text-align: left;
    color: white;
    width: clamp(350px, 70vw, 727px);
  }
  #home-section1 .mySwiper .swiper-button-next,
  #home-section1 .mySwiper .swiper-button-prev {
    display: block;
    color: white;
    width: 30px;
    height: 30px;
  }
  #home-section6 .home-container6 .icon-box .icons :first-child {
    margin-right: 0px;
  }
  #home-section6 .home-container6 .icon-box .icons :nth-child(2) {
    margin-right: 0px;
  }
}
@media (min-width: 1024px) {
  #home-section1 .mySwiper .swiper-slide img {
    height: 750px;
  }
  #home-section1 .mySwiper .swiper-slide .swiper-text p {
    display: block;
    font-family: "Mulish", sans-serif;
    font-size: clamp(8px, 4vw, 16px);
    font-weight: 400;
    line-height: clamp(12px, 5vw, 24px);
    text-align: left;
    color: white;
    width: clamp(350px, 70vw, 727px);
  }
}/*# sourceMappingURL=style.css.map */